<h1>Welcome To Stadium Tracker!</h1>
<h2>A place to store and track your trips around the 30 Major League Ballparks!</h2>

<h3>Already a User? <%= link_to 'Login', login_path %></h3>
<h3>If Not, <%= link_to 'Register Here', new_user_path %></h3>
